<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="rikka.shizuku.provider, rikka.shizuku.api, rikka.shizuku.shared, rikka.shizuku.aidl" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" /> <!-- Permissions for TxtNet server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
   <!-- <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />  Even though it says only system apps can get this permission, that isn't true. -->
    <!-- It turns out, we do not need WRITE_SETTINGS since we already have WRITE_SECURE_SETTINGS -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:autoRevokePermissions="disallowed"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ShizukuIncompatible"
            android:exported="false"
            android:label="@string/title_activity_shizuku_incompatible"
            android:theme="@style/Theme.TxtNetBrowser.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ShizukuIncompatibleActivity"
            android:exported="false"
            android:label="@string/title_activity_shizuku_incompatible"
            android:theme="@style/Theme.TxtNetBrowser">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".phonenumbers.NewServerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".phonenumbers.ServerPickerActivity"
            android:exported="false"
            android:label="@string/title_activity_server_picker"
            android:theme="@style/Theme.TxtNetBrowser.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainBrowserScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppIntroActivity"
            android:exported="false"
            android:label="App Introduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blockingactivities.UnsupportedDeviceActivity"
            android:exported="false"
            android:label="Unsupported Device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".server.ServerDisplay"
            android:exported="true"
            android:label="Server Display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blockingactivities.UnsupportedBlockActivity"
            android:exported="false"
            android:label="Unsupported Block Operation"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".messaging.TextMessageHandler$SMSReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DefaultSMSActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.SmsSentReceiver" />
        <receiver android:name=".receiver.SmsDeliveredReceiver" /> <!-- - The below is required to allow Android to consider this app as a default SMS app, so that the number can be blocked & to delete message history with the number -->
        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
            android:name=".SMSActivities$SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver> <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name=".SMSActivities$MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver> <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity
            android:name=".SMSActivities$ComposeSmsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity> <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".SMSActivities$HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".server.TxtNetServerService"
            android:description="@string/server_description"
            android:icon="@drawable/ic_launcher_monochrome"
            android:label="TxtNet Server"
            android:permission="android.permission.INTERNET" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>